*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
}

header {
    position: relative;
    padding: 3rem;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    top: 1rem;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    left: 2rem;
}

nav li {
    display: inline;
    margin-left: 2rem;

}

main {
    margin: 1rem auto;
    width: 80%;
}

.section-wrapper {
    height: 250px;
}

main section {
    margin-top: 6rem;
    padding: 2rem;
}

.home img {
    float: left;
    margin-right: 3rem;
    width: 100%;
}

.home-section {
    background-color: rgb(204, 160, 50);
}

.about-section {
    background-color: rgb(50, 86, 204);
}

.products-section {
    background-color: rgb(50,204,106);
}

.contact-section {
    background-color: darkorchid;
}

footer {
    text-align: center;
    background-color: #BF7631;
}