*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
}

header {
    position: relative;
    padding: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.logo {
    text-align: center;
}

.search-container {
    position: absolute;
    top: 50%;
    right: 10%;
    height: 40px;
    border-radius: 7px;
    padding: 10px;
}

main {
    margin: 1rem auto;
    width: 80%;
}

main section {
    margin-top: 6rem;
    padding: 2rem;
}

.home-section{
    background-image: url("./assets/eCommerce Site Resources/UX-HTML-CSS/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: 2em;
    margin-right: 2em;
}

.home-section {
    background-color: rgb(204, 160, 50);
    height: 250px;
}

.about-section {
    background-color: rgb(50, 86, 204);
}

.products-section{
    background-color: rgb(50,204,106);
}

.products-layout {
    display: grid;
    grid-template-areas: "top-l top-m top-r"
        "mid-l mid-m mid-r"
        "bot-l bot-m bot-r";
}

.image-container {
    width: 125px;
    height: 400px;
}

.image {
    width: 100%;
}

.contact-section {
    background-color: darkorchid;
    height: 250px;
}

footer {
    text-align: center;
    background-color: #BF7631;
}